<html>
    <title>My page created by Ansible </title>
    <body>
        <h1> Ansible Playbook Demo</h1> <br/>
        <h3> Power batch - JPA </h3>
        <ul>
        {% for usr in usrs %}
        <li>{{ usr }}</li>
        {% endfor %}
        </ul>
    </body>
</html>